body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 95%;
}

#cameraButton {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 25%;
  height: 5%;
  border: none;
  font-size: 100%;
  text-align: center;
  color: #fff;
  background: #6569ee;
  left: 0;
  bottom: 0;
}

#shareButton {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 25%;
  height: 5%;
  border: none;
  font-size: 100%;
  text-align: center;
  color: #fff;
  background: #6569ee;
  left: 25%;
  bottom: 0;
}

#gofundmeButton {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 25%;
  height: 5%;
  border: none;
  font-size: 100%;
  text-align: center;
  color: #fff;
  background: #ee8a65;
  bottom: 0;
  right: 25%;
}

#whereamiButton {
  display: block;
  position: absolute;
  margin: 0px auto;
  width: 25%;
  height: 5%;
  border: none;
  font-size: 100%;
  text-align: center;
  color: #fff;
  background: #6569ee;
  right: 0;
  bottom: 0;
}

video {
  border: 0px solid #00000000;
  position: absolute;
  width: 25%;
  height: 15%;
  left:50%;
  bottom:7%;
}

/*https://gis.stackexchange.com/questions/279127/how-to-add-css-styling-in-mapbox-gl-popup*/
.mapboxgl-popup-close-button {
  display:none
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro','Helvetica Neue', Sans-serif;
  padding: 0;
  width: 380px;
  height: 281px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}



.button {
  cursor: pointer;
  display: block;
  width: 160px;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 4px;
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}

h2 {
  margin-bottom: 4px;
}

.left {
  margin: 0px auto;;
  width: 160px;
  padding: 0px;
}

.right {
  margin: 0px auto;;
  width: 160px;
  padding: 0px;
}

.bottom {
  clear: both;
  padding-top: 10px;
}
