body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#camera {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #ee8a65;
}

#gofundme {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #ee8a65;
}

/*https://gis.stackexchange.com/questions/279127/how-to-add-css-styling-in-mapbox-gl-popup*/
.mapboxgl-popup-close-button {
  display:none
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro','Helvetica Neue', Sans-serif;
  padding: 0;
  width: 380px;
  height: 281px;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}
